/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 /**
 ====================================================================
  Google fonts
====================================================================
**/
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

nav ul a,
nav .brand-logo {
  color: #333;
}

nav {
  background-color: white;
  display: inline-block;
  font-weight: 400;
  color: #fad6ab;
  font-size: 13px;
  font-family: Oswald, sans-serif;
  letter-spacing: 1px;
  padding: 0 3px
}

nav ul a:hover {
   text-decoration: underline solid #e4c4a1;
}
nav ul a:active {
   text-decoration: underline solid #e4c4a1;
}

body {
  color: #333
}

#index-banner.parallax-container{
  min-height: 400px;
  height: 90vh;
}

.parallax.float-left{
  width: 50%;
  float:left;
}

.container.float-right{
  float:right;
  width: 50%;
  padding-left: 5%;
}
p {
  line-height: 2rem;
  font-family: Karla, sans-serif;
  font-size: 13px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 24px;
    font-family: Oswald, sans-serif;
    font-size: 44px;
    line-height: 52px;
    font-weight: 500;
    text-transform: uppercase;
    color:#333;
}

h5 {
  font-family: Karla, sans-serif;
  color: #777;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
}


div.parallax > img.headshot {
  width: 50%;
}

.row-center > h5{
  margin-bottom: 5%;
}

.row-center > a {
  margin-bottom: 2%;
}

.btn-large {
  background-color: #f5e9dc;
  color: #333;
}

.btn-large:hover{
  background-color: #e4c4a1;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  .parallax.float-left{
    width: 100%;
  }

  .container.float-right {
    width: 100%;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
